version: "3.8"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: rushi
      MONGO_INITDB_ROOT_PASSWORD: rushi
      MONGO_INITDB_DATABASE: tododb
    volumes:
      - mongo_data:/data/db

  backend:
    image: rushikeshghodke/multi-container-application:latest
    container_name: backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://rushi:rushi@mongodb:27017/tododb?authSource=admin
    depends_on:
      - mongodb

volumes:
  mongo_data:
